.infoBox {
  flex: 100%;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox_cases {
  font-weight: 600 !important;
  font-size: 1.75rem !important;
  margin-bottom: 0.5rem !important;
}

.infoBox_infected {
  color: #1042cc;
}

.infoBox_recovered {
  color: #10cc39;
}

.infoBox_deaths {
  color: #cc1034;
}

.infoBox-total {
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}

.infoBox--infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.7);
}

.infoBox-recoverd {
  border-bottom: 10px solid rgba(0, 255, 0, 0.7);
}

.infoBox-deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.7);
}
