.tableContainer {
  margin-top: 20px;
  overflow-y: scroll;
  height: 400px;
  color: #6a5d5d;
}

.tableContainer table {
  width: 100%;
}

.tableContainer tr {
  display: flex;
  justify-content: space-between;
}

.tableContainer td {
  padding: 5px;
}

.tableContainer tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
